.wrapper{
	width:100%;
	min-height: 100vh;
	background-color: #006541;
	justify-content: center;
	padding: 1rem;
}

.wrapper section{
	background-color: white;
	width: 80%;
	min-height: 90vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	border-radius: 30px;
	overflow: hidden;
}

form{
	padding: 2rem;
	justify-content:center;
}

aside{
	padding:1rem;
}

aside .inner{
	background-image: url('../img/bg1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  border-radius: 20px;
  width:100%;
  height: 100%;
}

.brand{
	font-size: 2rem;
	font-weight:bold;
	/*justify-content: center;*/
	text-align: center;
}

.form-items-wrapper{
	min-width: 80%;
	padding: 1rem;
}

input[type="text"],
input[type="password"],
input[type="submit"]{
	width: 100%;
	padding:0.7rem 1rem;
	margin: 0.4rem 0;
	outline: 0;
	border-radius: 4px;
	border: 4px solid var(--shade);
	transition: 0.3s ease-out;
}

input[type="submit"]{
	background-color: var(--second);
	border: 4px solid var(--second);
	color: white;
	opacity: 0.8;
}

input[type="submit"]:hover{
	opacity: 1;
	transition: 0.3s ease-out;
}

.form-field{
	margin: 1rem 0;
}

label{
	color: gray;
}

.extras{
	text-align: center;
	margin-top:3rem;
}

@media (max-width:720px){
	aside{
		display: none;
	}
	form{
		padding: 1rem 0.2rem;
	}
}
